<div class="container">
  <div class="section">
    <div class="row">
      <app-mob-part></app-mob-part>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header">
            <i class="material-icons">filter_drama</i>First - Mobile Part
          </div>
          <div class="collapsible-body">
            <span><app-pens></app-pens></span>
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            <i class="material-icons">place</i>Second-Books
          </div>
          <div class="collapsible-body">
            <span><app-books></app-books></span>
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            <i class="material-icons">whatshot</i>Third-Laptop
          </div>
          <div class="collapsible-body">
            <span><app-laptop></app-laptop></span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
