<div class="container">
  <div class="section">
    <div class="row">
      <ul class="collapsible">
        <li>
          <div class="collapsible-header">
            <i class="material-icons">filter_drama</i>First - Mobile Part
          </div>
          <div class="collapsible-body">
            <span><app-mob-part></app-mob-part></span>
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            <i class="material-icons">place</i>Second-Books
          </div>
          <div class="collapsible-body">
            <span><app-books></app-books></span>
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            <i class="material-icons">whatshot</i>Third-Laptop
          </div>
          <div class="collapsible-body">
            <span><app-laptop></app-laptop></span>
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            <i class="material-icons">place</i>Fourth-Pens
          </div>
          <div class="collapsible-body">
            <span> <app-pens></app-pens> </span>
          </div>
        </li>
      </ul>

      <!-- <app-mob-part></app-mob-part>
      <app-books></app-books>
      <app-laptop></app-laptop>
      <app-pens></app-pens> -->
    </div>
  </div>
</div>
