<!-- directives : angular att -->
<!-- ngNonBindable : att direcive -->

<!-- nav.component.html -->
<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Navbar Link</a></li>
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li><a href="#">Navbar Link</a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"
      ><i class="material-icons">menu</i></a
    >
  </div>
</nav>
<!--/ nav.component.html -->

<!-- banner-one.component.html -->
<app-banner-one></app-banner-one>
<!--/ banner-one.component.html -->

<!-- products.component.html -->
<app-products></app-products>
<!--/ products.component.html -->

<!-- banner-two.component.html -->
<app-banner-two></app-banner-two>
<!--/ banner-two.component.html -->

<!-- contact-us.component.html -->

<!--/ contact-us.component.html -->
<app-contact-us></app-contact-us>
<!-- banner-three.component.html -->
<app-banner-three></app-banner-three>
<!--/ banner-three.component.html -->

<!-- footer.component.html -->
<app-footer></app-footer>
<!-- footer.component.html -->
