<div class="carousel">
  <a class="carousel-item" href="#one!"
    ><img src="../../../assets/img/_PP04963.jpg"
  /></a>
  <a class="carousel-item" href="#two!"
    ><img src="../../../assets/img/_PP04849.jpg"
  /></a>
  <a class="carousel-item" href="#three!"
    ><img src="../../../assets/img/_PP08969.jpg"
  /></a>
  <a class="carousel-item" href="#four!"
    ><img src="../../../assets/img/_PP08890.jpg"
  /></a>
  <a class="carousel-item" href="#five!"
    ><img src="../../../assets/img/_PP05076.jpg"
  /></a>
</div>
